<!DOCTYPE html>
<html>
<head>
    <title>Monster List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <form action="/go_to_monsters" method="post">
            <button class="header-button" value="Go to monsters" type="submit">Monsters</button>
        </form>
        <form action="/go_to_hunters" method="post">
            <button class="header-button" value="Go to hunters" type="submit">Hunters</button>
        </form>
        <form action="/go_to_weapons" method="post">
            <button class="header-button" value="Go to weapons" type="submit">Weapons</button>
        </form>
        <form action="/go_to_lore" method="post">
            <button class="header-button" value="Go to lore" type="submit">Lore</button>
        </form>
    </div>
    <h1>Welcome to the universe of Monster Hunter !</h1>
    <img src="{{ url_for('static', filename='images/MonsterHunter.png') }}">
</body>
</html>
